#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 960px;
   
}



h1, h2, p, ol, ul {
    text-align: center;
    color: blueviolet;
    background-color: rgb(37, 37, 37);
    margin: 0px 0px;
    padding: 10px;
    list-style: none;
}

title, h1, h2 {
    background-color: aquamarine;
    margin: 10px
}

html {
    background-color: rgb(37, 37, 37);
} 

#buttons, ul {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 50px;
    
   
}

button {
    background-color: blueviolet;
    padding:  30px 100px;
    margin: 30px;
    font-size: 50px;
    text-decoration: none;
    
}

a {
    font-weight: bold;
    color: black;
    
}


.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

#steps-chicken-alfredo, #ingredients-chicken-alfredo, #steps-burger, #ingredients-burger, #steps-mac-n-cheese, #ingredients-mac-n-cheese {
    color: blueviolet;
    margin: 100px 500px;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    list-style: none;
}

#bold {
    font-size: xx-large;
    width: 500px;
    height: 200px;
    margin: auto;
    padding: auto;
}

h2 {
    margin-top: 100px;
}
